body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.0em;
}

q:before,
q:after {
    content: '';
}

a,
ins {
    text-decoration: none;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {

    padding: 0;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    .inner {
        width: 375px;
        margin: 0 auto;
        position: relative;
    }

    h2 {

        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        width: 318px;
        margin: 0 auto;
    }



}

@media (min-width: 894px) {

    body {

        font-size: 24px;
        line-height: 28px;

        .inner {
            width: 894px;
        }

        h2 {
            font-size: 40px;
            line-height: 47px;
            width: 636px;
        }

    }
}



@media (min-width: 1280px) {
    body {

        font-size: 20px;
        line-height: 23px;

        .inner {
            width: 1280px;
        }

        h2 {
            font-size: 36px;
            line-height: 42px;
            width: 100%;
        }


    }
}

@media (min-width: 1920px) {
    .inner {
        width: 1920px;
    }
}

/* top */




.top {
    background-color: #E0E1E2;
}

.top__inner {
    padding: 25px 0 48px;
    background: url(img/MXMaster.png) no-repeat center;
    background-size: contain;

    p {
        padding: 274px 60px 40px;
    }

    .arrow-bottom {
        display: block;
        margin: 0 auto;
        background: url(img/arrowBottom.png) no-repeat center;
        background-size: contain;
        width: 40px;
        height: 20px;
    }

    img {
        width: 130px;
        height: 39px;
        margin-bottom: 93px;
    }
}








.top__header {
    text-transform: uppercase;
    background-color: #2F3132;
    margin: auto;
}

.top__header__inner {
    .top__navigator {
        display: none;
    }

    .open-menu {
        display: block;
        background-image: url(img/menu-burger.png);
        position: absolute;
        width: 30px;
        height: 20px;
        top: 15px;
        right: 15px;
        cursor: pointer;
        z-index: 100;
    }

    #toggle {
        display: none;
    }

    .top__navigator_slide {
        display: none;
        height: 809px;
        width: 375px;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        padding: 210px 28px;
        flex-direction: column;
        justify-content: space-between;
        background: url(img/LogoWhite.png) no-repeat center 25px #2F3132;
        left: -375px;

        img {
            width: 130px;
            height: 39px;
            margin-bottom: 93px;
        }



        a {
            color: white;
            font-weight: 900;
            font-size: 20px;
            line-height: 32px;

            &:hover {
                border-bottom: 2px solid white;
            }
        }

        .close-menu {
            background-image: url(img/crossSmall.png);
            position: absolute;
            width: 25px;
            height: 25px;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    }

    #toggle:checked~ {
        .top__navigator_slide {
            display: flex;
            left: 0;

        }
    }

    .logoLogitechWhite {
        display: none;
    }
}








@media (min-width: 894px) {
    .top {
        background-color: #E0E1E2;
    }

    .top__inner {
        background: url(img/MXMasterMiddle.png) no-repeat center;
        padding: 54px 0 80px;

        p {
            padding: 591px 155px 76px;
        }

        .arrow-bottom {

            width: 57px;
            height: 29px;
        }

        img {
            width: 240px;
            height: 72px;
            margin-bottom: 160px;
        }
    }



    .top__header__inner {
        .open-menu {
            background-image: url(img/menu-burgerBig.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
            top: 40px;
            right: 55px;

        }

        .top__navigator_slide {
            height: 1165px;
            width: 894px;
            padding: 259px 148px 141px;
            background: url(img/LogoWhiteMiddle.png) no-repeat center 54px #2F3132;

            a {
                font-size: 40px;
                line-height: 47px;
            }

            .close-menu {
                background-image: url(img/crossbig.png);
                background-position: center;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                top: 55px;
                right: 55px;
            }

            img {
                width: 240px;
                height: 72px;
                margin-bottom: 160px;
            }
        }
    }
}





@media (min-width: 1280px) {
    .top {
        background-color: #E0E1E2;
    }

    .top__inner {
        padding: 70px 0 56px;
        background: url(img/MXMasterBig.png) no-repeat center 10px;

        p {
            padding: 557px 300px 50px;
        }

        .arrow-bottom {

            width: 57px;
            height: 29px;
        }

        .logoLogitechBlack {
            display: none;
        }
    }








    .top__header__inner {
        display: flex;
        height: 100px;
        background: #2F3132;
        padding: 28px 60px;


        img {
            width: 150px;
            margin-bottom: 0;
            margin-right: 150px;
        }


        .logoLogitechWhite {
            display: block;
        }

        #toggle:checked~.top__navigator_slide,
        .top__navigator_slide,
        .open-menu {
            display: none;
        }

        .top__navigator {
            display: flex;
            position: relative;
            flex: 1;
            justify-content: space-between;
            height: 30px;
            margin: 7px 0;
            padding: 0;
            flex-direction: row;

            a {
                color: white;
                font-weight: 400;
                font-size: 12px;
                line-height: 30px;

                &:hover {
                    border-bottom: 1px solid white;
                }


            }

            li {

                border-right: 2px solid #C4C4C4;
                padding: 0 20px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
    }
}

@media (min-width: 1920px) {

    .top__inner {
        padding: 100px 0 80px;
        background: url(img/MXMasterBig.png) no-repeat center 20px;

    }

    .top__header__inner {
        padding: 28px 60px;
    }

}









/* wireless */
.wireless {
    background-color: #EDEDED;
}

.wireless__inner {
    padding: 100px 0 18px;
    background: url(img/iconBluetooth.png) no-repeat center 40px;

    p {
        padding: 20px 32px 30px;
    }

    span {
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        font-weight: bold;
        color: #C4C4C4;
    }

    .sideMouseFront {
        display: none;
    }

    img {
        width: 375px;
        height: 218px;


    }
}



@media (min-width: 894px) {

    .wireless__inner {
        background: url(img/iconBluetoothMiddle.png) no-repeat center 80px;
        padding: 160px 0 0;


        p {
            padding: 30px 76px 76px;
        }

        span {
            font-size: 150px;
            line-height: 175px;

        }

        img {
            width: 836px;
            height: 498px;
            margin-top: -80px;
            padding: 0 20px 0 40px;
        }
    }




}

@media (min-width: 1280px) {

    .wireless__inner {
        padding: 125px 0 48px;
        background-position: center 45px;

        p {
            padding: 35px 260px 40px;
        }

        &>span {

            font-size: 300px;
            line-height: 300px;
            height: 300px;
            display: flex;
            align-items: flex-start;
            padding: 0 306px 0 376px;

            &>span {
                font-size: 96px;
                line-height: 112px;
            }




        }

        .wireless__img {
            display: flex;
            margin-top: -200px;
            justify-content: space-between;
            align-items: center;

            img {
                object-fit: contain;
                margin-top: 0;
                padding: 0;
            }

            .sideMouseFront {
                display: block;
                width: 533px;
                height: 286px;

            }

            .sideMouse {
                width: 667px;
                height: 307px;
            }
        }
    }



}

@media (min-width: 1920px) {

    .wireless__inner {
        padding: 155px 0 60px;
    }



}










/* surfaces */


.surfaces {
    padding: 70px 0 15px;
    margin-bottom: 50px;

    &>p {
        padding: 20px 65px 30px;

        &:last-child {
            padding: 0px 33px 0px;
        }
    }

    .surfaces__advantages {
        display: flex;
        width: 336px;
        height: 95px;
        margin: 0 auto 0;

        li {
            width: 165px;
            padding: 10px 18px;
            border: 1px solid black;

            &:first-child {
                margin-right: 6px;
            }

            span {
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
            }
        }


    }
}

.surfaces__carousel {
    .d-block {
        height: 240px;
        margin: 27px 0;
    }

    .carousel__container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .carousel-control-prev-icon {
            background-image: url(img/arrowLeft.png);
            background-size: auto;

        }

        .carousel-control-next-icon {
            background-image: url(img/arrowRight.png);
            background-size: auto;
        }

        .surfaces__carousel-indicators {
            position: relative;
            display: flex;
            width: 270px;
            margin: 18px auto 18px;
            justify-content: space-between;

            button {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                opacity: 1;
                border: none;

                &:first-child {
                    background-image: url(img/textureWood.png);
                }

                &:nth-child(2) {
                    background-image: url(img/textureGlass.png);
                }

                &:nth-child(3) {
                    background-image: url(img/textureLinoleum.png);
                }

                &:nth-child(4) {
                    background-image: url(img/textureCloth.png);
                }

                &:nth-child(5) {
                    background-image: url(img/textureMarble.png);
                }
            }
        }
    }
}











@media (min-width: 894px) {

    .surfaces {
        padding: 70px 0 60px;
        margin-bottom: 0;

        &>p {
            padding: 30px 77px 50px;

            :last-child {
                padding: 0px 33px 0px;
            }
        }

        .surfaces__advantages {
            width: 660px;
            height: 170px;

            li {
                width: 300px;
                padding: 10px 18px;

                &:first-child {
                    margin-right: 30px;
                }

                span {
                    font-size: 40px;
                    line-height: 47px;
                }
            }
        }
    }

    .surfaces__carousel {
        .d-block {
            height: 574px;
            margin: 50px 0;
        }

        .carousel__container {
            margin: 0 auto;
            width: 480px;

            .surfaces__carousel-indicators {
                width: 320px;

                button {
                    width: 45px;
                    height: 45px;


                }
            }
        }

    }


}

@media (min-width: 1280px) {

    .surfaces {
        padding: 70px 0;


        &>p {
            padding: 35px 260px 50px;

            &:last-child {
                padding: 0px 260px 0px;
            }
        }

        .surfaces__advantages {
            width: 500px;
            height: 140px;

            li {
                width: 236px;
                padding: 22px 25px;

                &:first-child {
                    margin-right: 32px;
                }

                span {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }
    }

    .surfaces__carousel {
        .d-block {
            margin: 50px 0 40px;
        }
    }



}

@media (min-width: 1920px) {

    .surfaces {
        padding: 100px 0px;
    }



}




/* devices */


.devices {
    background: url(img/img3.png) no-repeat bottom #EDEDED;
}

.devices__inner {
    padding: 70px 0 220px;
    background-size: contain;

    p {
        padding: 20px 32px 36px;

    }

    .devices_steps {
        width: 230px;
        margin-left: 54px;
        text-align: justify;

        li {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

    }
}





@media (min-width: 894px) {
    .devices {
        background: url(img/img3Middle.png) no-repeat bottom #EDEDED;
    }

    .devices__inner {
        padding: 70px 0 490px;


        p {
            padding: 30px 64px 70px;

        }

        .devices_steps {
            width: 100%;
            padding: 0 68px;
            display: flex;
            font-size: 20px;
            line-height: 23px;
            margin-left: 0;

            li {
                padding: 7px 15px 7px 25px;
                margin-bottom: 0;
                border-right: 2px solid #C4C4C4;

                &:first-child {

                    padding: 7px 15px 7px 0;

                }

                &:last-child {
                    border-right: none;
                    padding: 7px 0 7px 25px;

                }
            }
        }
    }



}


@media (min-width: 1280px) {
    .devices {
        background: url(img/img3Big.png) no-repeat bottom #EDEDED;
    }

    .devices__inner {
        padding: 70px 0 655px;


        p {
            padding: 35px 160px 66px;

        }

        .devices_steps {
            padding: 0 160px;

            li {
                padding: 7px 35px 7px 60px;

                &:first-child {

                    padding: 7px 35px 7px 0;
                }

                &:last-child {

                    padding: 7px 0 7px 60px;

                }
            }
        }
    }


}

@media (min-width: 1920px) {
    .devices {
        background: url(img/img3Large.png) no-repeat bottom #EDEDED;
    }

    .devices__inner {
        padding: 100px 0 870px;


        p {
            padding: 35px 120px 66px;

        }

        .devices_steps {
            padding: 0 120px;



        }
    }



}





/* features */

.features {
    background: #EDEDED;
}

.features__inner {
    padding-top: 70px;


    &>p {
        padding: 20px 32px 35px;
    }

    &>img {
        display: none;
    }

    .optimization {
        background: #C4C4C4;
        color: white;
        margin-top: 60px;
        padding: 23px 30px 26px 30px;

        p {
            padding: 20px 10px 0;
        }

        .programmList {
            display: flex;
            justify-content: space-between;

            img {
                width: 22px;
                height: 22px;


            }

            .bigIcon {
                width: 50px;
            }
        }
    }
}

.features__carousel {
    .d-block {
        height: 420px;
        padding: 0 25px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .features__carousel-indicators {
        width: 165px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        button {
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 50%;
            background: #C4C4C4;


        }
    }
}









@media (min-width: 894px) {

    .features__inner {
        padding: 70px 65px;

        &>p {
            padding: 30px 0 55px;
        }

        .optimization {
            margin-top: 70px;
            padding: 38px 30px 29px 30px;

            p {
                padding: 25px 0 0;
                font-size: 20px;
                line-height: 23px;
            }

            .programmList {
                width: 500px;
                margin: 0 auto;

                img {
                    width: 35px;
                    height: 35px;
                }

                .bigIcon {
                    width: 78px;
                }
            }
        }
    }

    .features__carousel {
        .d-block {
            width: 440px;
            height: 610px;
            margin-bottom: 80px;
        }

        .features__carousel-indicators {
            width: 275px;

            button {
                width: 25px;
                height: 25px;

            }
        }
    }



}


@media (min-width: 1280px) {

    .features__inner {
        padding: 70px 55px;

        &>p {
            padding: 38px 160px 55px;
        }

        &>img {
            display: block;
        }

        .optimization {
            width: 750px;
            margin: -60px auto 0;

        }
    }

    .features__carousel {
        display: none;
    }



}

@media (min-width: 1920px) {

    .features__inner {
        padding: 100px 55px;

        &>p {
            padding: 38px 160px 72px;
        }
    }
}











/*advantages*/
.advantages__elem {
    padding-top: 70px;

    p {
        padding: 20px 35px;
    }

    .contain__image {
        width: 375px;
        height: 320px;


    }

    .contain__image_first {
        background: url(img/img1.jpg) center;
        background-size: cover;
    }

    .contain__image_second {
        background: url(img/img2.jpg) center;
        background-size: cover;
    }
}

@media (min-width: 894px) {
    .advantages__elem {

        p {
            padding: 30px 67px 50px;
        }

        .contain__image {
            width: 894px;
            height: 550px;


        }

        .contain__image_second {
            background: url(img/img2Middle.jpg) center;
            background-size: cover;
        }
    }
}


@media (min-width: 1280px) {
    .advantages {
        display: flex;
        flex-direction: column;
    }

    .advantages__elem {
        display: flex;
        padding: 0;
        height: 557px;

        >* {
            width: 50%;
        }

        p {
            padding: 20px 0;
        }

        h2 {
            width: 300px;
        }

        .contain__image {
            width: 100%;
            height: 100%;


        }

        .contain__image_second {
            background: url(img/img2Big.jpg) center;
            background-size: cover;
        }


        &:first-child {
            .advantages__text {
                order: 2;
                padding: 120px 320px 30px 32px;
                text-align: left;
            }
        }

        &:last-child {
            .advantages__text {
                padding: 120px 32px 30px 320px;
                text-align: right;
            }
        }
    }

}

@media (min-width: 1920px) {
    .advantages {
        padding: 100px 0;
    }

}







/*footer*/

.footer {
    height: 75px;
    background: #2F3132;
    color: #C7C8C8;
    padding-top: 20px;

    p {
        font-size: 7px;
        line-height: 8px;
        padding: 0;
        margin: 0 auto;
    }
}

@media (min-width: 894px) {
    .footer {
        height: 150px;
        padding-top: 47px;

        p {
            font-size: 14px;
            line-height: 16px;
        }
    }

}