.devices {
  background-color: #ededed;
  background-image: url('./assets/img-3.png');
  padding-top: 70px;
  height: 715px;
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-width: 894px) {
    background-image: url('./assets/img-3__middle.png');
    height: 1090px;
    padding-top: 70px;
  }

  @media (min-width: 1280px) {
    background-image: url('./assets/img-3__big.png');
  }

  @media (min-width: 1920px) {
    background-image: url('./assets/img-3__large.png');
    padding-top: 100px;
    height: 1330px;
  }
}

.devices__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1280px) {
    br {
      display: none;
    }
  }
}

.devices_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 0 36px;

  @media (min-width: 894px) {
    gap: 2rem;
    margin: 30px 0 70px;
  }

  @media (min-width: 1280px) {
    margin: 35px 0 65px;
  }
}

.devices_steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  width: 70%;
  text-align: left;

  @media (min-width: 894px) {
    flex-direction: row;

    width: 75%;
    font-size: 20px;
    line-height: 23px;
    gap: 40px;

    li {
      flex-grow: 3;
      max-width: 315px;
    }
  }
}
