.features__carousel {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  height: 440px;
  width: 100%;

  @media (min-width: 894px) {
    height: 690px;
  }

  @media (min-width: 1280px) {
    display: none;
  }

  .carousel-inner {
    width: 100%;

    img.d-block {
      height: 420px;
      object-fit: contain;

      @media (min-width: 894px) {
        width: 440px;
        height: 610px;
      }
    }
  }
}

.features__carousel-indicators {
  display: flex;
  position: static;
  margin: unset;
  justify-content: space-between;
  gap: 0.6rem;

  @media (min-width: 894px) {
    gap: 1.2rem;
  }

  .carousel-indicator {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: #c4c4c4;

    @media (min-width: 894px) {
      width: 25px;
      height: 25px;
    }
  }
}
