.surfaces__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0 17px;

  @media (min-width: 894px) {
    margin: 50px 0 20px;
  }

  @media (min-width: 1280px) {
    margin: 50px 0 30px;
  }

  img.d-block {
    width: 375px;
    height: 240px;

    @media (min-width: 894px) {
      height: 574px;
      width: 894px;
    }

    @media (min-width: 1280px) {
      height: 574px;
      width: 1280px;
    }
  }

  .surfaces__carousel-title {
    margin: 27px 0 18px;

    @media (min-width: 894px) {
      margin: 50px 0 20px;
    }

    @media (min-width: 1280px) {
      margin: 40px 0 13px;
    }
  }
}

.surfaces__carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 894px) {
    gap: 1rem;
  }

  .surfaces__carousel-indicators {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;

    @media (min-width: 894px) {
      gap: 1rem;
    }

    button {
      border-radius: 50%;

      img {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        @media (min-width: 894px) {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  .carousel-control {
    width: 30px;
    height: 30px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    .surfaces__carousel-control_left,
    .surfaces__carousel-control_right {
      object-fit: contain;
      width: 9px;
      height: 18px;

      @media (min-width: 894px) {
        width: 12px;
        height: 24px;
      }
    }
  }
}
