.features {
  background: #ededed;
}

.features__inner {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  .features__image {
    display: none;
  }

  @media (min-width: 894px) {
    padding: 70px 65px;
  }

  @media (min-width: 1280px) {
    padding: 70px 55px;

    .features__image {
      display: block;
    }
  }

  @media (min-width: 1920px) {
    padding: 100px 55px;

    .features__info {
      padding: 38px 160px 72px;
    }
  }
}
