.features {
  background: #ededed;
}

.features__inner {
  padding-top: 70px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  .features__image {
    display: none;
  }

  @media (min-width: 894px) {
    padding: 70px 65px;
  }

  @media (min-width: 1280px) {
    padding: 70px 55px;

    .features__image {
      display: block;
    }
  }

  @media (min-width: 1920px) {
    padding: 100px 55px;
  }
}

.features__info {
  padding: 20px 20px 35px;

  @media (min-width: 894px) {
    padding: 30px 20px 50px;
  }

  @media (min-width: 1280px) {
    width: 70%;
    padding: 35px 20px 45px;
  }

  @media (min-width: 1920px) {
    width: 95%;
    padding: 35px 160px 70px;
  }
}
